header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  -webkit-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.headerScroll {
  -webkit-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

@supports not ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .headerScroll {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.header {
  height: calc(60px + 28 * ((100vw - 320px) / 1120));
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 11;
}

.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
}

.header__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 650px;
          flex: 0 1 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  min-width: 140px;
  margin-right: 10px;
}

.header__list-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(20px + 35 * ((100vw - 320px) / 1120));
  color: #062010;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  line-height: 120%;
  font-weight: 400;
}

.header__btn {
  display: none;
}

.header__btn-link {
  padding-top: calc(10px + 3 * ((100vw - 320px) / 1120));
  padding-bottom: calc(10px + 3 * ((100vw - 320px) / 1120));
  padding-left: calc(16px + 34 * ((100vw - 320px) / 1120));
  padding-right: calc(16px + 34 * ((100vw - 320px) / 1120));
  font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
}

.burger__open-btn-item {
  padding: 10px 16px;
}

.burger__open-close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.no-webp .initial {
  background: -webkit-gradient(linear, left top, right top, color-stop(29.13%, #F8FFF7), color-stop(60.02%, rgba(248, 255, 246, 0.58)), color-stop(98.12%, rgba(248, 255, 246, 0.1))), url("../img/initial.jpg") 100% 100% no-repeat;
  background: -o-linear-gradient(left, #F8FFF7 29.13%, rgba(248, 255, 246, 0.58) 60.02%, rgba(248, 255, 246, 0.1) 98.12%), url("../img/initial.jpg") 100% 100% no-repeat;
  background: linear-gradient(90deg, #F8FFF7 29.13%, rgba(248, 255, 246, 0.58) 60.02%, rgba(248, 255, 246, 0.1) 98.12%), url("../img/initial.jpg") 100% 100% no-repeat; }

.initial {
  padding: 240px 0;
  width: 100%;
}

.initial__wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.initial__img {
  margin-left: 15px;
  max-width: 550px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 550px;
          flex: 0 1 550px;
}

.initial__text-title {
  margin-bottom: 16px;
}

.initial__text-p {
  max-width: 430px;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
  line-height: 130%;
  margin-bottom: calc(30px + 10 * ((100vw - 320px) / 1120));
}

.initial__text-btn {
  border: 1px solid #EF3581;
  border-radius: 8px;
  background: #FBE4EE;
  font-size: 18px;
  padding: 16px 26px;
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer {
  padding-top: calc(40px + 7 * ((100vw - 320px) / 1120));
  padding-bottom: 50px;
  background: #262626;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  margin-bottom: calc(35px + 20 * ((100vw - 320px) / 1120));
  color: #fff;
}

.footer__net {
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.footer__net-item {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #373737;
  border: 1px solid #484848;
  -webkit-box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
          box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
  border-radius: 38px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__item-ico {
  margin-right: 12px;
}

.footer__item-text {
  color: #F8F8F8;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
}

.footer__politic {
  display: inline-block;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1120));
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 120%;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.content {
  margin: 0 auto;
  max-width: 1160px;
  padding-left: calc(20px + 10 * ((100vw - 320px) / 1120));
  padding-right: calc(20px + 10 * ((100vw - 320px) / 1120));
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.btn {
  background: -o-linear-gradient(355.96deg, #30C917 1.24%, #279A13 98.27%);
  background: linear-gradient(94.04deg, #30C917 1.24%, #279A13 98.27%);
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  line-height: 120%;
  display: inline-block;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn:active {
  background: rgba(191, 188, 184, 0.44);
  color: #FFFFFF;
  border: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

h1 {
  font-size: calc(40px + 8 * ((100vw - 320px) / 1120));
  line-height: 120%;
}

h1 span {
  color: #2AA915;
}

h2 {
  font-weight: 700;
  font-size: calc(24px + 24 * ((100vw - 320px) / 1120));
  line-height: 120%;
  color: #062010;
}

h2 span {
  color: #2AA915;
}

.header__burger {
  display: none;
}

.burger__open {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: none;
}

.burger__open-active {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.close__burger {
  display: none;
}

.burger__open-btn-item {
  display: none;
}

.video {
  margin-top: calc(20px + 170 * ((100vw - 320px) / 1120));
  margin-bottom: calc(20px + 170 * ((100vw - 320px) / 1120));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video__item {
  width: calc(300px + 600 * ((100vw - 320px) / 1120));
  height: calc(195px + 385 * ((100vw - 320px) / 1120));
  border-radius: 10px;
  max-width: 100%;
}

.graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.graph__text {
  padding-left: calc(0px + 80 * ((100vw - 320px) / 1120));
}

.graph__img,
.graph__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.graph__title {
  margin-bottom: calc(16px + -4 * ((100vw - 320px) / 1120));
}

.graph__p {
  font-weight: 500;
  color: #676767;
  margin-bottom: 50px;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
}

.graph__benefits-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
          box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
  border-radius: 64px 24px 24px 64px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.graph__benefits-section:not(:last-child) {
  margin-bottom: calc(25px + 10 * ((100vw - 320px) / 1120));
}

.benefits-section__img {
  margin-right: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

.benefits-section__p {
  font-size: calc(16px + 6 * ((100vw - 320px) / 1120));
  font-weight: 500;
}

.ecosystem {
  position: relative;
  margin-bottom: calc(75px + 70 * ((100vw - 320px) / 1120));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ecosystem__title {
  text-align: center;
  margin-top: calc(150px + 50 * ((100vw - 320px) / 1120));
  margin-bottom: calc(50px + 50 * ((100vw - 320px) / 1120));
}

.ecosystem__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
          box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
  border-radius: 24px;
  margin: 0 auto;
  padding: 25px 40px;
  text-align: center;
  height: 100%;
  max-width: 360px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.ecosystem__item-title {
  color: #2F2F2F;
  font-weight: 500;
  margin-bottom: 12px;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1120));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ecosystem__item-p {
  color: #4B4B4B;
  font-size: calc(13px + 5 * ((100vw - 320px) / 1120));
}

.ecosystem__item-p a {
  color: #2AA915;
}

.ecosystem__btn {
  padding-top: calc(10px + 7 * ((100vw - 320px) / 1120));
  padding-bottom: calc(10px + 7 * ((100vw - 320px) / 1120));
  padding-left: calc(10px + 18 * ((100vw - 320px) / 1120));
  padding-right: calc(10px + 18 * ((100vw - 320px) / 1120));
  display: inline-block;
}

.ecosystem__net {
  margin-bottom: calc(40px + 40 * ((100vw - 320px) / 1120));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: calc(15px + 10 * ((100vw - 320px) / 1120));
     -moz-column-gap: calc(15px + 10 * ((100vw - 320px) / 1120));
          column-gap: calc(15px + 10 * ((100vw - 320px) / 1120));
  row-gap: calc(30px + 15 * ((100vw - 320px) / 1120));
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.ecosystem__dekor {
  position: absolute;
  z-index: 4;
  top: -3%;
  right: -12%;
  pointer-events: none;
}

.information {
  position: relative;
  margin-bottom: calc(100px + 86 * ((100vw - 320px) / 1120));
}

.information__title {
  margin-bottom: calc(50px + 60 * ((100vw - 320px) / 1120));
  text-align: center;
}

.information__net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.information__item {
  text-align: center;
  border: 2px solid rgba(42, 169, 21, 0.2);
  -webkit-box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
          box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 40px 25px 40px;
  padding-top: calc(20px + 10 * ((100vw - 320px) / 1120));
  padding-bottom: calc(20px + 5 * ((100vw - 320px) / 1120));
  padding-left: calc(25px + 15 * ((100vw - 320px) / 1120));
  padding-right: calc(25px + 15 * ((100vw - 320px) / 1120));
  width: 192px;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.information__item-img {
  margin-bottom: 10px;
}

.information__item-title {
  font-weight: 600;
  color: #676767;
  margin-bottom: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.information__item-case {
  color: #2AA915;
  font-weight: 700;
  font-size: 22px;
}

.content__less {
  max-width: 745px;
  text-align: center;
  margin: 0 auto;
}

.farm {
  position: relative;
}

.farm__title {
  margin-bottom: calc(50px + 20 * ((100vw - 320px) / 1120));
}

.farm__net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.farm__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
          box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
  border-radius: 64px 24px 24px 64px;
  margin-bottom: 40px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.farm__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 14px;
  margin-right: 30px;
  border-right: 2px dashed rgba(42, 169, 21, 0.32);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-right: 12px;
}

.farm__main-text {
  text-align: left;
}

.main__title {
  margin-bottom: calc(10px + 5 * ((100vw - 320px) / 1120));
  color: #062010;
  font-weight: 600;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
}

.main__p {
  color: #676767;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
}

.farm__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 24px;
  width: 100%;
}

.farm__btn-procent {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.farm__btn-btn {
  display: block;
  color: #2AA915;
  padding: 9px 15px;
  background: rgba(42, 169, 21, 0.18);
  border-radius: 8px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.farm__main-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  margin-right: 10px;
}

.procent__text {
  margin-bottom: calc(5px + 10 * ((100vw - 320px) / 1120));
}

.procent__procent {
  color: #2AA915;
  font-weight: 700;
  font-size: calc(18px + 2 * ((100vw - 320px) / 1120));
}

.farm__dekor {
  position: absolute;
  z-index: 4;
  top: -15%;
  left: -40%;
  pointer-events: none;
}

.pools {
  margin-top: calc(80px + 120 * ((100vw - 320px) / 1120));
}

.pools__img {
  margin: 0;
  position: relative;
}

.pools__img:after {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 0;
  right: 17%;
  background: url("../img/pools_after_1.svg") center 100% no-repeat;
}

.pools__img-2:after {
  background: url("../img/pools_after_2.svg") center 100% no-repeat;
}

.pools__img-3:after {
  background: url("../img/pools_after_3.svg") center 100% no-repeat;
}

.cooperation-in__title {
  text-align: center;
  margin-bottom: calc(40px + 40 * ((100vw - 320px) / 1120));
}

.cooperation-in__net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: calc(10px + 75 * ((100vw - 320px) / 1120));
}

.cooperation-in__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  max-width: 100%;
}

.cooperation-by__title {
  text-align: center;
  margin-top: calc(80px + 30 * ((100vw - 320px) / 1120));
  margin-bottom: calc(50px + 10 * ((100vw - 320px) / 1120));
}

.cooperation-by__net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: calc(30px + 25 * ((100vw - 320px) / 1120));
  margin-bottom: calc(100px + 70 * ((100vw - 320px) / 1120));
}

.cooperation-by__wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: calc(30px + 25 * ((100vw - 320px) / 1120));
}

.subfooter {
  position: relative;
}

.subfooter__dekor {
  position: absolute;
  bottom: 10%;
  left: -10%;
  -webkit-transform: rotate(30.08deg);
      -ms-transform: rotate(30.08deg);
          transform: rotate(30.08deg);
}

.subfooter__net {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.subfooter__net-item {
  height: 100%;
  background: #BBDBB6;
  -webkit-box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
          box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
  border-radius: 24px;
  position: relative;
  padding-top: calc(102px + 66 * ((100vw - 320px) / 1120));
  padding-left: calc(15px + 17 * ((100vw - 320px) / 1120));
  padding-right: calc(15px + 17 * ((100vw - 320px) / 1120));
  padding-bottom: calc(24px + 14 * ((100vw - 320px) / 1120));
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sybfooter__item-dekor {
  position: absolute;
  top: 0;
  right: 0;
}

.sybfooter__item-title {
  font-weight: 600;
  font-size: calc(24px + 16 * ((100vw - 320px) / 1120));
  line-height: 119.9%;
  margin-bottom: calc(8px + 8 * ((100vw - 320px) / 1120));
}

.sybfooter__item-p {
  margin-bottom: calc(24px + 8 * ((100vw - 320px) / 1120));
  font-size: calc(14px + 6 * ((100vw - 320px) / 1120));
  max-width: 455px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sybfooter__item-btn {
  position: relative;
  z-index: 2;
  padding-top: calc(20px + -3 * ((100vw - 320px) / 1120));
  padding-bottom: calc(20px + -3 * ((100vw - 320px) / 1120));
  padding-left: calc(20px + 7 * ((100vw - 320px) / 1120));
  padding-right: calc(20px + 7 * ((100vw - 320px) / 1120));
  border-radius: 8px;
  color: #FFF;
  font-size: 18px;
  display: inline-block;
  transition: all 0.3s linear;
  background: linear-gradient(94.04deg,#30c917 1.24%,#279a13 98.27%);
}




.subfooter__bottom {
  padding-top: calc(112px + 78 * ((100vw - 320px) / 1120));
  padding-bottom: calc(33px + 67 * ((100vw - 320px) / 1120));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(42, 169, 21, 0.37)), to(rgba(42, 169, 21, 0)));
  background: -o-linear-gradient(bottom, rgba(42, 169, 21, 0.37) 0%, rgba(42, 169, 21, 0) 100%);
  background: linear-gradient(0deg, rgba(42, 169, 21, 0.37) 0%, rgba(42, 169, 21, 0) 100%);
}

.subfooter__title {
  margin-bottom: calc(60px + -20 * ((100vw - 320px) / 1120));
}

.subfooter__btn-wr {
  background: -o-linear-gradient(355.65deg, rgba(255, 255, 255, 0.57) 0%, rgba(255, 255, 255, 0.71) 0.01%, rgba(255, 255, 255, 0.06) 100%);
  background: linear-gradient(94.35deg, rgba(255, 255, 255, 0.57) 0%, rgba(255, 255, 255, 0.71) 0.01%, rgba(255, 255, 255, 0.06) 100%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
          box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
  border-radius: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  padding-top: calc(0px + 5 * ((100vw - 320px) / 1120));
  padding-right: 10px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.subfooter__btn-btn {
  padding: 10px 10px;
  border-radius: 24px;
}

.subfooter__btn-btn span {
  margin-right: 14px;
}

@media (min-width: 601px) {
  .header__btn {
    margin-left: calc(0px + 300 * ((100vw - 320px) / 1120));
    display: block;
  }
}

@media (max-width: 992px) {
  .graph {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .initial {
    padding-top: 130px;
    padding-bottom: 0;
  }

  .initial__wr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .initial__img {
    margin-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .footer__net {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .graph {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .graph__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .ecosystem__item {
    padding: 15px 35px;
  }

  .ecosystem__net {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .farm__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 380px;
    border-radius: 16px;
    padding: 23px;
  }

  .farm__main {
    border: none;
    margin: 0;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
    margin-bottom: 20px;
  }

  .farm__btn {
    padding-right: 0;
  }

  .farm__main-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50px;
            flex: 1 0 50px;
  }

  .cooperation-by__net {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cooperation-by__wr {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .subfooter__dekor {
    position: absolute;
    bottom: 3%;
    left: -20%;
  }

  .subfooter__net {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

@media (max-width: 600px) {
  .header__list-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #BFBCB8;
    gap: 40px;
    font-size: 18px;
    line-height: 120%;
    margin: 70px 0;
    font-weight: 500;
  }

  .no-webp .initial {
    background: -webkit-gradient(linear, left top, right top, color-stop(29.13%, #F8FFF7), color-stop(60.02%, rgba(248, 255, 246, 0.58)), color-stop(98.12%, rgba(248, 255, 246, 0.1))), url("../img/initial.jpg") 85% 50% no-repeat;
    background: -o-linear-gradient(left, #F8FFF7 29.13%, rgba(248, 255, 246, 0.58) 60.02%, rgba(248, 255, 246, 0.1) 98.12%), url("../img/initial.jpg") 85% 50% no-repeat;
    background: linear-gradient(90deg, #F8FFF7 29.13%, rgba(248, 255, 246, 0.58) 60.02%, rgba(248, 255, 246, 0.1) 98.12%), url("../img/initial.jpg") 85% 50% no-repeat; }

  .header__burger {
    display: block;
    width: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 28px;
    position: relative;
  }

  .header__burger:after {
    content: "";
    display: block;
    background-color: #062010;
    border-radius: 50px;
    width: 24px;
    height: 3px;
    position: absolute;
    top: 6px;
    left: 8px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger:before {
    content: "";
    display: block;
    background-color: #062010;
    border-radius: 50px;
    width: 24px;
    height: 3px;
    position: absolute;
    top: 13px;
    left: 8px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger span:after {
    content: "";
    display: block;
    background-color: rgb(6, 32, 16);
    border-radius: 50px;
    width: 24px;
    height: 3px;
    position: absolute;
    top: 20px;
    left: 8px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger_close:after {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: 3px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger_close:before {
    content: "";
    display: block;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger_close span:after {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: 3px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .burger__open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    overflow: auto;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .close__burger {
    width: 40px;
    height: 40px;
    display: block;
    margin-top: 25px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 15px;
    position: relative;
  }

  .close__burger:after {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 16px;
    left: 8px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .close__burger:before {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 16px;
    left: 8px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .burger__open-btn-item {
    display: inline-block;
  }

  .benefits-section__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 64px;
            flex: 0 0 64px;
  }

  .farm__btn-btn {
    padding: 5px 10px;
  }
}

@media (max-width: 480px) {
  .ecosystem__net {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 380px) {
  .footer__net {
    gap: 12px;
  }
}

@media (max-width: 350px) {
  .pools__img:after {
    -webkit-transform: scale(0.7) translateY(30%) translateX(30%);
        -ms-transform: scale(0.7) translateY(30%) translateX(30%);
            transform: scale(0.7) translateY(30%) translateX(30%);
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .header__btn {
    margin-left: calc(0px + 70 * ((100vw - 320px) / 1120));
  }
}

@media (any-hover: hover) {
  .header__list-item:hover {
    font-weight: 500;
  }

  .sybfooter__item-btn:hover {
    transition: all 0.3s linear;
    background: linear-gradient(94.04deg,#259e13 1.24%,#1f7710 98.27%);
  }



  .initial__text-btn:hover {
    background: #FFB1D3;
    color: #FFF;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .footer__net-item:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 4px 28px rgba(216, 216, 216, 0.15);
            box-shadow: 0px 4px 28px rgba(216, 216, 216, 0.15);
  }

  .footer__politic:hover {
    text-decoration: underline;
  }

  .btn:hover {
    background: -o-linear-gradient(355.96deg, rgba(48, 201, 23, 0.12) 1.24%, rgba(39, 154, 19, 0.12) 98.27%);
    background: linear-gradient(94.04deg, rgba(48, 201, 23, 0.12) 1.24%, rgba(39, 154, 19, 0.12) 98.27%);
    border: 2px solid #2AA915;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    color: #2AA915;
  }

  .graph__benefits-section:hover {
    -webkit-box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.3);
            box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.3);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .ecosystem__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.25);
            box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.25);
  }

  .information__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.25);
            box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.25);
  }

  .farm__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.25);
            box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.25);
  }

  .farm__btn-btn:hover {
    background: rgba(42, 169, 21, 0.38);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .subfooter__btn-wr:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.25);
            box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.25);
  }
}

.webp .initial { background: -webkit-gradient(linear, left top, right top, color-stop(29.13%, #F8FFF7), color-stop(60.02%, rgba(248, 255, 246, 0.58)), color-stop(98.12%, rgba(248, 255, 246, 0.1))), url(../img/initial.webp) 100% 100% no-repeat; background: -o-linear-gradient(left, #F8FFF7 29.13%, rgba(248, 255, 246, 0.58) 60.02%, rgba(248, 255, 246, 0.1) 98.12%), url(../img/initial.webp) 100% 100% no-repeat; background: linear-gradient(90deg, #F8FFF7 29.13%, rgba(248, 255, 246, 0.58) 60.02%, rgba(248, 255, 246, 0.1) 98.12%), url(../img/initial.webp) 100% 100% no-repeat; }

@media (max-width: 600px) {

  .webp .initial { background: -webkit-gradient(linear, left top, right top, color-stop(29.13%, #F8FFF7), color-stop(60.02%, rgba(248, 255, 246, 0.58)), color-stop(98.12%, rgba(248, 255, 246, 0.1))), url(../img/initial.webp) 85% 50% no-repeat; background: -o-linear-gradient(left, #F8FFF7 29.13%, rgba(248, 255, 246, 0.58) 60.02%, rgba(248, 255, 246, 0.1) 98.12%), url(../img/initial.webp) 85% 50% no-repeat; background: linear-gradient(90deg, #F8FFF7 29.13%, rgba(248, 255, 246, 0.58) 60.02%, rgba(248, 255, 246, 0.1) 98.12%), url(../img/initial.webp) 85% 50% no-repeat; }
}